body {
    height: 100vh;
    justify-items: center;
    align-content: center;

}

.allbucket {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



}

.basket {
    background-image: url(../img/futuristic-exploration-dubai-s-evolving-cityscape\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    width: 800px;
    border-radius: 10px;
    background-color: transparent;
    border-radius: 10px;
    border-top: 7px solid blue;
    border-bottom: 7px solid rgb(0, 0, 225);
    border-right: 7px solid red;
    border-left: 7px solid yellow;
    box-shadow: 0 0 80px black;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;




}


.bask {
    height: 200px;
    width: 200px;
    background: rgba(255, 217, 0, 0.349);
    backdrop-filter: blur(10px);

}